/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,300,700,100';
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);
.icon-arrow-r, .l-our-works .top .see-all:after {
  background-image: url(../i/sprite.png);
  background-position: -205px -67px;
  width: 8px;
  height: 13px; }

.icon-back-arrow {
  background-image: url(../i/sprite.png);
  background-position: 0px -135px;
  width: 11px;
  height: 21px; }

.icon-dribbble {
  background-image: url(../i/sprite.png);
  background-position: 0px -100px;
  width: 35px;
  height: 35px; }

.icon-facebook {
  background-image: url(../i/sprite.png);
  background-position: -100px -50px;
  width: 35px;
  height: 35px; }

.icon-forward-arrow {
  background-image: url(../i/sprite.png);
  background-position: -11px -135px;
  width: 11px;
  height: 21px; }

.icon-gplus {
  background-image: url(../i/sprite.png);
  background-position: -170px -50px;
  width: 35px;
  height: 35px; }

.icon-instagram {
  background-image: url(../i/sprite.png);
  background-position: -70px -100px;
  width: 35px;
  height: 35px; }

.icon-location, .l-footer .upper #address:before {
  background-image: url(../i/sprite.png);
  background-position: -162px -100px;
  width: 14px;
  height: 19px; }

.icon-logo {
  background-image: url(../i/sprite.png);
  background-position: -100px 0px;
  width: 128px;
  height: 50px; }

.icon-paper-plane {
  background-image: url(../i/sprite.png);
  background-position: -137px -100px;
  width: 25px;
  height: 25px; }

.icon-phone-receiver, .l-footer .upper #phone:before {
  background-image: url(../i/sprite.png);
  background-position: -205px -50px;
  width: 17px;
  height: 17px; }

.icon-play {
  background-image: url(../i/sprite.png);
  background-position: 0px 0px;
  width: 100px;
  height: 100px; }

.icon-quotes {
  background-image: url(../i/sprite.png);
  background-position: -105px -100px;
  width: 32px;
  height: 26px; }

.icon-twitter {
  background-image: url(../i/sprite.png);
  background-position: -135px -50px;
  width: 35px;
  height: 35px; }

.icon-youtube {
  background-image: url(../i/sprite.png);
  background-position: -35px -100px;
  width: 35px;
  height: 35px; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  height: 100%; }

body {
  font: normal 16px/1.4 Roboto, Arial, sans-serif; }

* {
  box-sizing: border-box; }

.wrapper {
  width: 960px;
  margin: auto; }

.icon, .l-our-works .top .see-all:after, .l-footer .upper #address:before, .l-footer .upper #phone:before {
  display: inline-block; }

a {
  text-decoration: none; }

.clearfix:before, .l-our-story-container .inner-container:before, .l-our-works .top:before, .l-footer .upper:before,
.clearfix:after,
.l-our-story-container .inner-container:after,
.l-our-works .top:after,
.l-footer .upper:after {
  content: "";
  display: table; }

.clearfix:after, .l-our-story-container .inner-container:after, .l-our-works .top:after, .l-footer .upper:after {
  clear: both; }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.avatar {
  width: 45px;
  height: 45px;
  background-position: center;
  border-radius: 100%; }

.avatar-bg {
  width: 70px;
  height: 70px;
  background-position: center;
  border-radius: 100%; }

.c-btn {
  color: #58e6da;
  font-size: 16px;
  padding: 9px 15px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #58e6da;
  border-radius: 2px;
  display: inline-block; }

.l-header-container {
  background-image: url("../i/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover; }
  .l-header-container .l-header-top--logo {
    padding-top: 20px; }
  .l-header-container .l-navbar {
    float: right;
    padding-top: 35px;
    font-weight: bold; }
    .l-header-container .l-navbar .l-navbar--item {
      display: inline-block;
      margin-right: 25px; }
      .l-header-container .l-navbar .l-navbar--item a {
        font-size: 13px;
        color: #fff; }
      .l-header-container .l-navbar .l-navbar--item:last-child {
        margin-right: 0; }
      .l-header-container .l-navbar .l-navbar--item.active a {
        color: #58e6da; }
  .l-header-container .l-header-bottom {
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
    margin-top: 150px; }
    .l-header-container .l-header-bottom .divider {
      display: inline-block;
      width: 50px;
      border-bottom: 1px solid  #58e6d5;
      margin-bottom: 25px; }
    .l-header-container .l-header-bottom .text-block-large {
      font-family: 'Playfair Display', serif;
      font-size: 32px;
      color: #fff;
      margin-bottom: 20px; }
    .l-header-container .l-header-bottom .text-block-small {
      font-size: 14px;
      font-weight: lighter;
      color: #fff;
      margin-bottom: 45px; }
    .l-header-container .l-header-bottom .learn-more {
      margin-bottom: 120px; }
    .l-header-container .l-header-bottom .dots {
      max-width: 60px;
      max-height: 10px;
      display: inline-block;
      margin-bottom: 70px; }
      .l-header-container .l-header-bottom .dots .dot {
        float: left;
        display: inline-block;
        min-width: 8px;
        min-height: 8px;
        margin-right: 5px;
        border: 1px solid white;
        border-radius: 50%; }
        .l-header-container .l-header-bottom .dots .dot.current {
          background-color: #00e0d0; }

.l-our-story-container {
  background-color: #fff;
  padding: 70px 0; }
  .l-our-story-container .inner-container .l-left-side {
    float: left;
    display: block;
    margin-right: 100px;
    margin-top: 15px; }
  .l-our-story-container .inner-container .l-right-side {
    display: block;
    overflow: hidden; }
    .l-our-story-container .inner-container .l-right-side .l-right-side--header {
      font-family: 'Playfair Display', serif;
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 30px; }
    .l-our-story-container .inner-container .l-right-side .l-right-side--text {
      font-size: 14px;
      color: #817f86;
      font-weight: 400;
      margin-bottom: 35px; }

.l-video-container {
  background-image: url("../i/video-bg.png");
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0; }
  .l-video-container .caption {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-top: 30px; }

.l-expertise {
  padding: 70px 0;
  text-align: center; }
  .l-expertise .l-expertise--top .text-big {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 15px; }
  .l-expertise .l-expertise--top .text-small {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    color: #817f86;
    margin-bottom: 15px; }
  .l-expertise .divider {
    display: inline-block;
    width: 50px;
    border-bottom: 2px solid  #c6c4c9; }
  .l-expertise .l-expertise--bottom {
    display: table; }
    .l-expertise .l-expertise--bottom .row {
      display: table-row; }
      .l-expertise .l-expertise--bottom .row:last-child .item {
        border-bottom: 0; }
    .l-expertise .l-expertise--bottom .item {
      display: table-cell;
      text-align: center;
      padding: 40px 30px;
      border-bottom: 1px solid #ebebeb;
      border-right: 1px solid #ebebeb;
      vertical-align: top; }
      .l-expertise .l-expertise--bottom .item:last-child {
        border-right: 0; }
      .l-expertise .l-expertise--bottom .item .pictogram {
        min-height: 60px; }
      .l-expertise .l-expertise--bottom .item .item-text-big {
        font-size: 14px;
        font-weight: bold;
        margin-top: 30px; }
      .l-expertise .l-expertise--bottom .item .item-text-small {
        font-size: 14;
        font-weight: 300;
        color: #817f86;
        margin-top: 25px; }

.l-team {
  background-image: url("../i/meet-our-team-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 70px 0; }
  .l-team .l-team--top .text-big {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 15px;
    color: #fff; }
  .l-team .l-team--top .text-small {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    color: #fff;
    margin-bottom: 15px; }
  .l-team .divider {
    display: inline-block;
    width: 50px;
    border-bottom: 2px solid  #655d80;
    margin-bottom: 45px; }
  .l-team .l-team--bottom .thumbnails {
    margin-bottom: 70px; }
  .l-team .l-team--bottom .thumbnails-item {
    display: inline-block;
    padding-right: 20px; }
    .l-team .l-team--bottom .thumbnails-item:last-child {
      padding: 0; }
    .l-team .l-team--bottom .thumbnails-item a, .l-team .l-team--bottom .thumbnails-item span {
      display: block;
      color: #fff; }
    .l-team .l-team--bottom .thumbnails-item .pic-placeholder {
      width: 220px;
      height: 230px;
      background-color: #fff; }
    .l-team .l-team--bottom .thumbnails-item .caption {
      border: 1px solid  #7b7890;
      padding: 20px 0; }
      .l-team .l-team--bottom .thumbnails-item .caption .text-big {
        font-size: 13px; }
      .l-team .l-team--bottom .thumbnails-item .caption .text-small {
        font-size: 13px;
        font-weight: lighter; }
  .l-team .l-team--bottom .text {
    font-size: 14px;
    font-weight: 300;
    color: #fff; }
  .l-team .l-team--bottom .apply {
    margin-top: 30px; }

.l-our-works {
  text-align: center;
  padding: 70px 0; }
  .l-our-works .top .text {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: bold;
    color: #413d4b;
    float: left; }
  .l-our-works .top .see-all {
    font-size: 14px;
    font-weight: 300;
    color: #413d4b;
    display: block;
    float: right;
    position: relative; }
    .l-our-works .top .see-all:after {
      content: '';
      position: absolute;
      top: 3px;
      margin-left: 10px; }
  .l-our-works .picset {
    display: flex;
    flex-wrap: wrap;
    margin: 70px 0; }
    .l-our-works .picset .picset-item {
      height: 200px;
      width: 16.66667%;
      flex-grow: 1;
      border: 1px solid #ccc;
      background-color: #e0e0e0; }

.l-quote {
  background-image: url("../i/quote-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 70px 0; }
  .l-quote .text {
    font-family: 'Playfair Display', serif;
    font-size: 13px;
    color: #fff;
    margin: 40px 0; }
  .l-quote .name {
    font-size: 14px;
    color: #fff;
    margin: 10px 0; }
  .l-quote .title {
    font-size: 13px;
    font-weight: lighter;
    color: #fff;
    margin-bottom: 45px; }
  .l-quote .slider {
    vertical-align: middle;
    display: flex;
    align-items: center;
    align-content: center;
    width: 480px;
    margin: 0 auto; }
    .l-quote .slider div {
      margin: 0 15px; }

.l-contact {
  padding: 70px 0; }
  .l-contact .header {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 22px;
    color: #413d4b;
    margin-bottom: 35px; }
  .l-contact .left-side, .l-contact .right-side {
    display: inline-block; }
  .l-contact .right-side {
    float: right; }
    .l-contact .right-side .header {
      margin-bottom: 20px;
      margin-left: 15px; }
  .l-contact .form {
    display: block;
    width: 460px;
    height: 410px; }
    .l-contact .form input, .l-contact .form textarea {
      font: normal 14px Roboto, sans-serif; }
    .l-contact .form input {
      width: 100%;
      line-height: 43px;
      margin-bottom: 20px;
      padding-left: 20px; }
    .l-contact .form textarea {
      resize: none;
      width: 100%;
      height: 200px;
      padding: 20px; }
  .l-contact .submit {
    margin-top: 20px; }
  .l-contact .partners {
    display: flex;
    flex-wrap: wrap;
    width: 380px; }
    .l-contact .partners .partner {
      height: 88px;
      width: 50%;
      flex-grow: 1;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: flex-start; }
      .l-contact .partners .partner img {
        max-width: 100%; }

.l-footer {
  background-image: url("../i/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 70px 0; }
  .l-footer .upper {
    display: block; }
    .l-footer .upper > div {
      float: left;
      width: 290px;
      text-align: initial;
      vertical-align: top; }
    .l-footer .upper .description {
      margin-right: 35px; }
    .l-footer .upper .address {
      margin-right: 35px; }
    .l-footer .upper .header {
      font-size: 15px;
      font-weight: bold;
      color: #fff;
      margin: 20px 0; }
    .l-footer .upper .send-btn {
      display: block;
      width: 70px;
      height: 45px;
      background-color: #a199b3;
      opacity: 0.5;
      text-align: center;
      vertical-align: middle;
      padding: 10px 0; }
    .l-footer .upper input {
      height: 45px;
      width: 210px;
      background-color: transparent;
      border: 1px solid #a199b3;
      padding: 15px;
      margin-right: 5px; }
    .l-footer .upper .text {
      font-size: 14px;
      line-height: 25px;
      color: #fff;
      font-weight: 300; }
    .l-footer .upper #address {
      position: relative;
      margin-left: 30px; }
      .l-footer .upper #address:before {
        content: '';
        position: absolute;
        left: -30px;
        top: 4px; }
    .l-footer .upper #phone {
      position: relative;
      margin-left: 30px; }
      .l-footer .upper #phone:before {
        content: '';
        position: absolute;
        left: -30px; }
    .l-footer .upper .subscribe > * {
      display: inline-block; }
    .l-footer .upper .soc-ntwks {
      margin-top: 25px; }
      .l-footer .upper .soc-ntwks > * {
        margin-right: 5px; }
  .l-footer .lower {
    display: block;
    width: 100%;
    margin-top: 70px; }
    .l-footer .lower a {
      font-size: 14px;
      color: #fff;
      margin-right: 30px; }
    .l-footer .lower .l-footer-navbar {
      display: inline-block;
      float: left; }
      .l-footer .lower .l-footer-navbar .l-navbar--item {
        display: inline; }
    .l-footer .lower .copyright {
      display: inline-block;
      float: right;
      color: #fff;
      padding-right: 22px; }
