/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,300,700,100';
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900);
.icon-logo {
  background-image: url(../i/sprite.png);
  background-position: -100px 0px;
  width: 128px;
  height: 50px; }

.icon-paper-plane {
  background-image: url(../i/sprite.png);
  background-position: -100px -50px;
  width: 25px;
  height: 25px; }

.icon-play {
  background-image: url(../i/sprite.png);
  background-position: 0px 0px;
  width: 100px;
  height: 100px; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, html {
  height: 100%; }

body {
  font: normal 16px/1.4 Roboto, Arial, sans-serif; }

.wrapper {
  width: 960px;
  margin: auto; }

.icon {
  display: inline-block; }

a {
  text-decoration: none; }

.clearfix:before, .l-our-story-container .inner-container:before,
.clearfix:after,
.l-our-story-container .inner-container:after {
  content: "";
  display: table; }

.clearfix:after, .l-our-story-container .inner-container:after {
  clear: both; }

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.c-btn {
  color: #58e6da;
  font-size: 16px;
  padding: 9px 15px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #58e6da;
  border-radius: 2px;
  display: inline-block; }

.l-header-container {
  background-image: url("../i/header-bg.png"); }
  .l-header-container .l-header-top--logo {
    padding-top: 20px; }
  .l-header-container .l-navbar {
    float: right;
    padding-top: 35px;
    font-weight: bold; }
    .l-header-container .l-navbar .l-navbar--item {
      display: inline; }
      .l-header-container .l-navbar .l-navbar--item a {
        font-size: 13px;
        color: #fff;
        margin-right: 25px; }
      .l-header-container .l-navbar .l-navbar--item.active a {
        color: #58e6da; }
  .l-header-container .l-header-bottom {
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
    margin-top: 150px; }
    .l-header-container .l-header-bottom .divider {
      display: inline-block;
      width: 50px;
      border-bottom: 1px solid  #58e6d5;
      margin-bottom: 25px; }
    .l-header-container .l-header-bottom .text-block-large {
      font-family: 'Playfair Display', serif;
      font-size: 32px;
      color: #fff;
      margin-bottom: 20px; }
    .l-header-container .l-header-bottom .text-block-small {
      font-size: 14px;
      font-weight: lighter;
      color: #fff;
      margin-bottom: 45px; }
    .l-header-container .l-header-bottom .learn-more {
      margin-bottom: 120px; }
    .l-header-container .l-header-bottom .dots {
      max-width: 60px;
      max-height: 10px;
      display: inline-block;
      margin-bottom: 70px; }
      .l-header-container .l-header-bottom .dots .dot {
        float: left;
        display: inline-block;
        min-width: 8px;
        min-height: 8px;
        margin-right: 5px;
        border: 1px solid white;
        border-radius: 50%; }
        .l-header-container .l-header-bottom .dots .dot.current {
          background-color: #00e0d0; }

.l-our-story-container {
  background-color: #fff;
  padding: 70px 0; }
  .l-our-story-container .inner-container .l-left-side {
    float: left;
    display: block;
    margin-right: 100px;
    margin-top: 15px; }
  .l-our-story-container .inner-container .l-right-side {
    display: block;
    overflow: hidden; }
    .l-our-story-container .inner-container .l-right-side .l-right-side--header {
      font-family: 'Playfair Display', serif;
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 30px; }
    .l-our-story-container .inner-container .l-right-side .l-right-side--text {
      font-size: 14px;
      color: #817f86;
      font-weight: 400;
      margin-bottom: 35px; }

.l-video-container {
  background-image: url("../i/video-bg.png");
  text-align: center;
  padding: 200px 0; }
  .l-video-container .caption {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-top: 30px; }

.l-expertise {
  padding: 70px 0;
  text-align: center; }
  .l-expertise .l-expertise--top .text-big {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 15px; }
  .l-expertise .l-expertise--top .text-small {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 14px;
    color: #817f86;
    margin-bottom: 15px; }
  .l-expertise .divider {
    display: inline-block;
    width: 50px;
    border-bottom: 2px solid  #c6c4c9; }
  .l-expertise .l-expertise--bottom {
    display: table; }
    .l-expertise .l-expertise--bottom .row {
      display: table-row; }
      .l-expertise .l-expertise--bottom .row:last-child .item {
        border-bottom: 0; }
    .l-expertise .l-expertise--bottom .item {
      display: table-cell;
      text-align: center;
      padding: 40px 30px;
      border-bottom: 1px solid #ebebeb;
      border-right: 1px solid #ebebeb;
      vertical-align: top; }
      .l-expertise .l-expertise--bottom .item:last-child {
        border-right: 0; }
      .l-expertise .l-expertise--bottom .item .pictogram {
        min-height: 60px; }
      .l-expertise .l-expertise--bottom .item .item-text-big {
        font-size: 14px;
        font-weight: bold;
        margin-top: 30px; }
      .l-expertise .l-expertise--bottom .item .item-text-small {
        font-size: 14;
        font-weight: 300;
        color: #817f86;
        margin-top: 25px; }
