body, html {
  height: 100%;
}

body {
  font: normal 16px/1.4 Roboto, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 960px;
  margin: auto;
}

.icon {
  display: inline-block;
}

a {
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
} 
.clearfix:after {
  clear: both;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.avatar {
  width: 45px;
  height: 45px;
  background-position: center;
  border-radius: 100%;
}

.avatar-bg {
  width: 70px;
  height: 70px;
  background-position: center;
  border-radius: 100%;
}