.l-header-container {
  background-image: url('../i/header-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 0 70px;
  text-align: center;
  @extend .clearfix;

  .l-header-top {
    padding-top: 15px;
  }

  .l-header-bottom {
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
    padding-top: 150px;

    .divider {
      display: inline-block;
      width: 50px;
      border-bottom: 1px solid  #58e6d5;
      margin-bottom: 25px;
    }

    .text-block-large {
      font-family: 'Playfair Display', serif;
      font-size: 32px;
      color: #fff;
      margin-bottom: 20px;
    }

    .text-block-small {
      font-size: 14px;
      font-weight: lighter;
      color: #fff;
      margin-bottom: 45px;
    }

    .learn-more {
      margin-bottom: 120px;
    }      
  }
}

.l-logo {
  float: left;
}
