.l-video-container {
  background-image: url('../i/video-bg.png');
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;

  .caption {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-top: 30px;
  }
}